In [3]:
#original data (passengers without 'age' value excluded)

import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt


titanic_df = pd.read_csv('train.csv')

embarked = pd.get_dummies( titanic_df.Embarked , prefix='Embarked' )

embarked

     Embarked_C  Embarked_Q  Embarked_S
0             0           0           1
1             1           0           0
2             0           0           1
3             0           0           1
4             0           0           1
..          ...         ...         ...
886           0           0           1
887           0           0           1
888           0           0           1
889           1           0           0
890           0           1           0

[891 rows x 3 columns]

In [8]:
# fill missing values with mean value

import pandas as pd
import numpy as np
from scipy import stats

titanic_df = pd.read_csv('train.csv')

titanic_df['Age_repl1'] = titanic_df['Age']

titanic_df['Age_repl1'].replace(np.nan, titanic_df['Age'].mean() , inplace=True)

print(titanic_df['Age_repl1'].describe())

count    891.000000
mean      29.699118
std       13.002015
min        0.420000
25%       22.000000
50%       29.699118
75%       35.000000
max       80.000000
Name: Age_repl1, dtype: float64

In [9]:
# fill missing values with median value

import pandas as pd
import numpy as np
from scipy import stats

titanic_df = pd.read_csv('train.csv')

titanic_df['Age_repl1'] = titanic_df['Age']

titanic_df['Age_repl1'].replace(np.nan, titanic_df['Age'].median() , inplace=True)

print(titanic_df['Age_repl1'].describe())

count    891.000000
mean      29.361582
std       13.019697
min        0.420000
25%       22.000000
50%       28.000000
75%       35.000000
max       80.000000
Name: Age_repl1, dtype: float64

In [10]:
# fill missing values with mode value

import pandas as pd
import numpy as np
from scipy import stats

titanic_df = pd.read_csv('train.csv')

most_freq_age, count = stats.mode(titanic_df['Age'])

age_mode = int(most_freq_age)

titanic_df['Age_repl1'] = titanic_df['Age']

titanic_df['Age_repl1'].replace(np.nan, age_mode, inplace=True)

print(titanic_df['Age_repl1'].describe())

count    891.000000
mean      28.566970
std       13.199572
min        0.420000
25%       22.000000
50%       24.000000
75%       35.000000
max       80.000000
Name: Age_repl1, dtype: float64

In [11]:
# fill missing values with constant value

import pandas as pd
import numpy as np
from scipy import stats

titanic_df = pd.read_csv('train.csv')

titanic_df['Age_repl1'] = titanic_df['Age']

titanic_df['Age_repl1'].replace(np.nan, 50, inplace=True)

print(titanic_df['Age_repl1'].describe())

count    891.000000
mean      33.731953
std       15.320981
min        0.420000
25%       22.000000
50%       32.000000
75%       50.000000
max       80.000000
Name: Age_repl1, dtype: float64

In [30]:
# fill missing values with rolling mean value

import pandas as pd
import numpy as np
from scipy import stats

titanic_df = pd.read_csv('train.csv')

titanic_df['Age_repl1'] = titanic_df['Age']

titanic_df['Age_repl1'].replace(np.nan, titanic_df['Age'].rolling(10, center = True, min_periods = 1).mean() , inplace=True)

print(titanic_df['Age_repl1'].describe())

count    891.000000
mean      29.788892
std       13.303306
min        0.420000
25%       22.000000
50%       29.000000
75%       36.642857
max       80.000000
Name: Age_repl1, dtype: float64

In [ ]:
'''

Part1

Q: Which of the replacement strategies works best in terms of preserving overall dataset properties?

A: Honestly, each strategy has its own pros, in terms of mean and std, here i'm going to choose rolling mean 

as my best strategy.

'''

In [ ]:
'''

Part2

I separate the passengers into two groups: male and female.

Strategy used: rolling mean

Findings:

Obviously both mean and std of both male and female lowered a little bit and the amplitudes are approximately 
the same. As for the age at 25% rise a little bit for both male and female and the age at 75% lowered a little bit 
for both male and female, the amplitudes are approximately same too.

'''

In [19]:
#original data of male passengers (passengers without 'age' value excluded)

import pandas as pd
import numpy as np
from scipy import stats

titanic_df = pd.read_csv('train.csv')

df_filtered = titanic_df[(titanic_df.Sex == 'male')]

print(df_filtered['Age'].describe())

count    453.000000
mean      30.726645
std       14.678201
min        0.420000
25%       21.000000
50%       29.000000
75%       39.000000
max       80.000000
Name: Age, dtype: float64

In [24]:
#New data of male passengers 

import pandas as pd
import numpy as np
from scipy import stats

titanic_df = pd.read_csv('train.csv')

titanic_df = titanic_df[(titanic_df.Sex == 'male')]

titanic_df['Age_repl1'] = titanic_df['Age']

titanic_df['Age_repl1'].replace(np.nan, titanic_df['Age'].rolling(10, center = True, min_periods = 1).mean() , inplace=True)

print(titanic_df['Age_repl1'].describe())

count    577.000000
mean      30.355581
std       13.021980
min        0.420000
25%       23.000000
50%       29.000000
75%       35.000000
max       80.000000
Name: Age_repl1, dtype: float64

In [20]:
#original data of female passengers (passengers without 'age' value excluded)

import pandas as pd
import numpy as np
from scipy import stats

titanic_df = pd.read_csv('train.csv')

df_filtered = titanic_df[(titanic_df.Sex == 'female')]

print(df_filtered['Age'].describe())

count    261.000000
mean      27.915709
std       14.110146
min        0.750000
25%       18.000000
50%       27.000000
75%       37.000000
max       63.000000
Name: Age, dtype: float64

In [31]:
#New data of female passengers 

import pandas as pd
import numpy as np
from scipy import stats

titanic_df = pd.read_csv('train.csv')

titanic_df = titanic_df[(titanic_df.Sex == 'female')]

titanic_df['Age_repl1'] = titanic_df['Age']

titanic_df['Age_repl1'].replace(np.nan, titanic_df['Age'].rolling(10, center = True, min_periods = 1).mean() , inplace=True)

print(titanic_df['Age_repl1'].describe())

count    314.000000
mean      27.979247
std       13.066626
min        0.750000
25%       20.750000
50%       27.000000
75%       35.972222
max       63.000000
Name: Age_repl1, dtype: float64